body {
    background-color: #D5D5D5;
    height:100px;
  }
  
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
  }
  
  .icon {
    height: 50px;
    width: 50px;
    border: 3px solid white;
    border-radius: 50%;
    text-align: center;
    color: white;
    display: inline-block;
    vertical-align: middle;
    line-height: 65px;
    margin-right: 10px;
    z-index: 10;
    -moz-box-shadow: 4px 0px 20px rgba(68, 68, 68, 0.4);
    -webkit-box-shadow: 4px 0px 20px rgba(68, 68, 68, 0.4);
    box-shadow: 4px 0px 20px rgba(68, 68, 68, 0.4);
    cursor:pointer;
  }
  
  .facebook .background_circle {
    display: none;
    width: 52px;
    height: 54px;
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 1;
    z-index: -1;
    background-color: #3B5998;
  }
  
  .twitter .background_circle {
    display: none;
    width: 52px;
    height: 54px;
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 1;
    z-index: -1;
    background-color: #55acee;
  }
  
  .instagram .background_circle {
    display: none;
    width: 52px;
    height: 54px;
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 1;
    z-index: -1;
    background-color: #cd486b;
  }
  
  .pinterest .background_circle {
    display: none;
    width: 52px;
    height: 54px;
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 1;
    z-index: -1;
    background-color: #cb2027;
  }
  
  .facebook:hover,
  .facebook:active {
    background-color: #3B5998;
  }
  
  .twitter:hover,
  .twitter:active {
    background-color: #55acee;
  }
  
  .instagram:hover,
  .instagram:active {
    background-color: #cd486b;
  }
  
  .pinterest:hover,
  .pinterest:active {
    background-color: #cb2027;
  }